apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-app
  namespace: production
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx-app
  template:
    metadata:
      labels:
        app: nginx-app
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: nginx
          image: arvindan1308n/nginx-prod:v1
          ports:
            - containerPort: 80
