apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: production
spec:
  selector:
    app: nginx-app ##nginx metadata name
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80